@using Web_153503_Kachanovskaya.Domain.Models;

@model ListModel<Product>
@{
    ViewData["Title"] = "index";

    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();

    var categories = ViewData["Categories"] as List<Category>;
    var currentCategory = ViewData["CurrentCategory"] as Category;
}

<!-- Выбор категории -->
<h2>Категории</h2>
<div class="col-2">
    <ul class="nav ">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               data-bs-toggle="dropdown"
               href="#"
               role="button"
               aria-expanded="false">
                <b>@(currentCategory?.Name ?? "Все")</b>
            </a>

            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item"
                       asp-controller="Car"
                       asp-route-category=@null><b>Все</b></a>
                </li>
                @foreach (var category in categories!)
                {
                    <li>
                        <a class="dropdown-item"
                           asp-controller="Product"
                           asp-route-category="@category.NormalizedName">
                            @category.Name
                        </a>
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>
<!-- Выбор категории - конец -->


<!--Вывод карточек-->
<div class="col-10 row">
    @foreach (var product in Model.Items)
    {
        <div class="col-md-4 mt-4">
            <div class="card mb-4">
                <img src="@product.ImgPath" class="catalog-img mx-auto">
                <div class="card-body">
                    <h5 class="card-title mx-auto">@product.Name</h5>
                    <div class="card-text mx-auto">@product.Price р.</div>
                    <a asp-controller="Cart" asp-action="Add" asp-route-id="@product.Id" asp-route-returnurl="@returnUrl"
                        class=" btn btn-primary mt-2">Go somewhere</a>
                </div>
            </div>
        </div>
    }
</div>


